django==3.0.7
django-qr-code==1.2.0
social-auth-app-django==4.0.0
django-dbbackup==3.3.0
django-storages==1.9.1
celery==4.4.5
selenium==3.141.0
django-anymail==7.1.0
python-dotenv==0.13.0
requests==2.24.0
qrcode==6.1
django-qrcode==0.3
Pillow==7.1.2