django==3.1.6
social-auth-app-django==4.0.0
django-dbbackup==3.3.0
django-storages==1.9.1
celery==4.4.6
selenium==3.141.0
django-anymail==7.1.0
python-dotenv==0.14.0
qrcode==6.1
pillow==7.2.0
django-recaptcha==2.0.6