{% extends 'Page/page_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/check_out_before_due.css'%}">
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
<script>
    let csrf_token = '{{csrf_token}}';
    const checkout_url = "{% url 'kmutnbtrackapp:check_out' last_lab.hash  %}";
function checkout(){
    fetch(checkout_url,{
        method: "POST",
        headers: { "X-CSRFToken": csrf_token },
    })
    .then(response =>{ 
        return response.text()
    })
    .then(html =>{
        document.getElementsByTagName("body")[0].innerHTML = html
    })
}
</script>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/lab_checkin_successful.css'%}">
<!-- navbar room name-->
<nav class="navbar navbar-dark" style="background-color: #1261A0;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="30" height="auto" class="d-inline-block" alt="" loading="lazy">
        {{ last_lab.name }}
    </a>
    <div class="btn-group btn-username">
        <button type="button" class="btn dropdown-toggle dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'images/people.png' %}" width="22" alt="username_pic" >
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item disabled" type="button">{{ request.user.first_name }}</button>
            <a href="{% url 'kmutnbtrackapp:logout' %}?lab={{ lab_hash }}">
                <button class="dropdown-item" type="button">
                    <img id="checkout_img" src="{% static 'images/logout.png' %}" alt="checkout_pic">
                    ออกจากระบบ
                </button>
            </a>
        </div>
    </div>
</nav>

<!-- check out before due -->
<div class="container">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">คุณต้องการเช็คเอาท์
            <br><img src="{% static 'images/logo.png' %}"  width="40" alt="lab_pic">{{ last_lab.name }} 
            <br>ก่อนเวลาหรือไม่?
        </h4>
        <hr>
        <p class="mb-0">เวลาเช็คเอาท์จะถูกเปลี่ยนเป็นเวลา ณ ขณะนี้</p>
    </div>
    <div class="alert alert-primary" role="alert">
        <p class="mb-0 showtime">
            <img id="checkin_img" src="{% static 'images/check in.png' %}" alt="checkin_pic">
            เวลาเช็คอินแล็บ {{ last_lab.name }}
            <p class="time-checkin">{{ check_in }}</p>
        </p>
        <p class="mb-0 showtime">
            <img id="checkout_img" src="{% static 'images/logout_2.png' %}" alt="checkout_pic">
            เวลาเช็คเอาท์ที่ระบุ
            <p class="time-checkout">{{ check_out }}</p>
        </p>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-warning" style="color:black"; onclick="checkout()">
            <img id="checkout_img" src="{% static 'images/logout.png' %}" alt="checkout_pic">
            เช็คเอาท์ก่อนเวลา
        </button>
    </div>
</div>
{% endblock %}