{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    
    
    {% if not user.is_authenticated %}
        <h2><a href='{% url "social:begin" "google-oauth2" %}?next={{ lab_name }}'>นักศึกษา และบุคลากร Login ผ่าน Google account ของมหาวิทยาลัย</a></h2><br>
        <h2><a href='{% url "kmutnbtrackapp:signup" %}?next={{ lab_name }}'>บุคคลทั่วไป ที่ยังไม่เคยลงทะเบียนใช้งานเว็บไซต์</a></h2><br>
        <h2><a href='{% url "kmutnbtrackapp:login" %}?next={{ request.path }}'>บุคคลทั่วไป ที่เคยลงทะเบียนใช้งานเว็บไซต์แล้ว</a></h2><br>
    {% endif %}

    {% if user.is_authenticated %}
        <h1>Logged in as {{ user.first_name }}</h1>
        <a href='{% url "logout" %}'>Logout</a>
    {% endif %}
</body>
</html>