{% extends 'Page/page_base.html' %}
{% load static %}

{% block title %}Check-in Successful - Check out{% endblock %}
{% block head %}
<!-- navbar -->
<nav class="navbar navbar-dark" style="background-color: #355C7D;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/desktop.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        {{ lab_name }}
    </a>
</nav>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/check_in_success.css'%}">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static '/js/check_in_success.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Page => Check-in Successful - Check out -->
    <div class="container">
        <!-- Component => Check-in Successful - Check out - 1 -->
        <img id="To-logout-1-0-Log-1" class="displayed" src="{% static 'images/checkin_completed.png' %}">

        <!-- Component => Confirm Check out -->
        <div id="To-logout-0-1-Main" class="Confirm-Check-out-class" style="background: white;">                    
            <div id="To-logout-0-1-TOP">
                <p class="Confirm-Check-out-Text-1">เช็คเอาท์</p>         
                <hr class="new2">
            </div>
            <div id="To-logout-0-1-BOT" class="Confirm-Check-out-pop-up">
                <p class="Confirm-Check-out-Text-2">คุณต้องการเช็คเอาท์ใช่ไหม</p>
                <div style="right: 0;position: absolute;">
                    <button onclick="Not_of_Confirm_Check_out()" type="button" class="btn btn-danger">ไม่ใช่</button>
                    <button onclick="Yes_of_Confirm_Check_out()" type="button" class="btn btn-success">ใช่</button>
                </div>
            </div>                    
        </div>
    </div>

    <!-- Component => Check-in Successful - Check out - 2 -->
    <div id="To-logout-1-0-Log-2" class="Main-Check-in-Successful">
        <div>
            <p class="Check-in-Successful-Text-1">เช็คเอาท์เมื่อออกจากห้องแล็บ</p>
            <hr class="new1">
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="btn-checkout" onclick="Click_To_Confirm_Check_Out()">
                <div class="row" style="text-align: center; vertical-align: middle;" >
                    <i class="fa fa-sign-out icon-Check-out fa-2x" aria-hidden="true"></i>
                    <p class="Text-Check-out">เช็คเอาท์</p>
                </div>
            </a>
        </div>
    </div>

{% block content %}