{% extends 'Page/page_base.html' %}
{% load static %}

{% block title %}Check in{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/lab_checkin.css'%}">
{% endblock %}


{% block script %}
<script type="text/javascript">
    function OtherTime(){
        const Mode = document.getElementById('time').value;
        const time_selector = document.getElementById('time_value');
        if ( Mode == "others" ){
            time_selector.style.display='block';
        } else {
            time_selector.style.display='none';
            time_selector.value = Mode
        }
    }

    function CheckTime(hour, minute){
        const UserMode = document.getElementById('time').value;
        const UserTime = document.getElementById('time_value');
        var SelectTime = UserTime.value.split(":");
        console.log()
        if (UserMode == "others"){
            if (true) {
                // waiting for beautiful time lock condition
                if (SelectTime[0] >= hour){
                    if (( (SelectTime[1] >= (minute + 10) ) && (SelectTime[0] == hour)) || (SelectTime[0] > hour && ( (SelectTime[1] < 10) && ( (minute + 10) > 60) )) || (SelectTime[0] > hour && (SelectTime[1] >=  10)){
                        document.getElementById("TimeFrom").submit();
                    } else {
                        document.getElementById("status").innerHTML = "กรุณาเลือกเวลาที่ถูกต้อง";
                    }
                } else {
                    document.getElementById("status").innerHTML = "กรุณาเลือกเวลาที่ถูกต้อง";
                }
            } else {
                document.getElementById("status").innerHTML = "กรุณาเลือกเวลาใช้งานที่ถูกต้อง";
            }
        } else {
            document.getElementById('time_value').value = UserMode
            document.getElementById("TimeFrom").submit();
        }
    }
    function checkin(){
        fetch()
    }
</script>
{% endblock %}


{% block content %}
<!-- navbar room name-->
<nav class="navbar navbar-dark" style="background-color: #355C7D;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/desktop.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        {{ lab_name }}
    </a>
    <a href="{% url 'kmutnbtrackapp:logout' %}?lab={{ lab_hash }}">
        <button class="btn btn-danger my-2 my-sm-0">
            Logout
        </button>
    </a>
    
</nav>

<!-- check out before due -->
<div class="container">
    <div class="card w-70 mx-auto" style="text-align: center;">

        <div class="card-body">
            
            <h5 class="card-title">
              <img src="{% static 'images/desktop.png' %}"  width="30" alt="lab_pic">
               {{ lab_name }}
            </h5>

            <p class="card-text">
                <img src="{% static 'images/people.png' %}"  width="30" alt="lab_pic">
                จำนวนคนในแลปขณะนี้ : {{ current_people }} คน
            </p>
            <form id="TimeFrom" method="post" action="{% url 'kmutnbtrackapp:check_in' lab_hash  %}" >
                {% csrf_token %}
                <label for="check_out_time">เลือกเวลา check out :</label> 
            
                <div class="dropdown">
                    
                    <select class="btn btn-light btn-sm dropdown-toggle btn-timeselect " aria-haspopup="true" aria-expanded="false" aria-labelledby="dropdownMenu2" id="time" onchange='OtherTime();'>
                        {% if time_option == 1 %}
                            <option selected="selected" value="12:00">12:00</option>
                            <option value="16:00">16:00</option>
                            <option value="20:00">20:00</option>
                            <option value="others">กำหนดเอง</option>
                        {% elif time_option == 2 %}
                            <option selected="selected" value="16:00">16:00</option>
                            <option value="20:00">20:00</option>
                            <option value="others">กำหนดเอง</option>
                        {% elif time_option == 3 %}
                            <option selected="selected" value="20:00">20:00</option>
                            <option value="others">กำหนดเอง</option>
                        {% elif time_option == 4 %}
                            <option selected="selected" value="others">กำหนดเอง</option>
                        {% endif %}
                    </select>
                    
                </div>
                
                <br>

                <div class="container-fluid col-12 col-sm-4">
                    <div class="form-group">
                        
                      <input type="time" class="form-control" name="check_out_time" id="time_value" value="12:00" style='display:none;' />
                    </div>
                </div>


            </form>
            <p id="status"></p>
            <div>
                <button type="submit" class="btn btn-success" onclick="CheckTime({{time_now_hour}},{{time_now_minute}})">Check in</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    OtherTime();
</script>
{% endblock %}