{% extends 'Page/page_base.html' %}
{% load static %}

{% block content %}
    <center>
        <h1>กรุณา check out ออกจาก lab นี้ก่อน : {{ new_lab.name }}</h1>
            <h2>เมื่อ check out จาก lab ก่อนหน้าแล้ว ระบบ จะพาคุณไปยัง {{ new_lab.name }}</h2>
            <form method="post" action="{% url 'kmutnbtrackapp:check_out' last_lab.hash  %}?next_lab={{ new_lab.hash }}">
            <button name="checkout" type="submit" value="check_out">Check out {{ lab_hash_check_out.name }}</button>
            {% csrf_token %}
            </form>
    </center>
{% endblock %}
