{% extends 'Page/page_base.html' %}
{% load static %}

{% block title %}Check in{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/lab_checkin.css'%}">
{% endblock %}


{% block script %}
<script type="text/javascript">
    let csrf_token = '{{csrf_token}}'; // Django will render this, don't move to .js file !!!
    const checkin_url = "{% url 'kmutnbtrackapp:check_in' lab_hash  %}";
    const checkout_url = "{% url 'kmutnbtrackapp:check_out' lab_hash  %}";

    selectTime();

    function selectTime(){
        const Mode = document.getElementById('time').value;
        const time_selector = document.getElementById('time_value');
        if ( Mode == "others" ){
            time_selector.style.display='block';
        } else {
            time_selector.style.display='none';
            time_selector.value = Mode
        }
    }

    function CheckTime(hour, minute){
        const UserMode = document.getElementById('time').value;
        const UserTime = document.getElementById('time_value');
        let SelectTime = UserTime.value.split(":");
        console.log()
        if (UserMode == "others"){
            if (true) {
                // waiting for beautiful time lock condition
                if (SelectTime[0] >= hour){
                    if (( (SelectTime[1] >= (minute + 10) ) && (SelectTime[0] == hour)) || (SelectTime[0] == (hour + 1) && ( (SelectTime[1] <= 10) && ( (minute + 10) > 60) )) || SelectTime[0] > hour){
                        return true
                    } else {
                        document.getElementById("status").innerHTML = "กรุณาเลือกเวลาที่ถูกต้อง";
                        return false
                    }
                } else {
                    document.getElementById("status").innerHTML = "กรุณาเลือกเวลาที่ถูกต้อง";
                    return false
                }
            } else {
                document.getElementById("status").innerHTML = "กรุณาเลือกเวลาใช้งานที่ถูกต้อง";
                return false
            }
        } 
        else {
            document.getElementById('time_value').value = UserMode
            return true

        }
    }

    $(document).ready(function () {
        var body = $("body")
        $("#checkin_button").click(function (event) {
            if (CheckTime({{time_now_hour}}, {{time_now_minute}}) ){
                $.ajax({
                    headers: { "X-CSRFToken": csrf_token },
                    type: "POST",
                    url: checkin_url,
                    data: {
                        'check_out_time': $("#time_value").val()
                    },
                    success: function (response) {
                        var parser = new DOMParser();
                        var responseHtml = parser.parseFromString(response, "text/html");
                        $("body").html(responseHtml.body)
                    },
                })
            }
        })
    })

    function checkout(){
        fetch(checkout_url,{
            method: "POST",
            headers: { "X-CSRFToken": csrf_token },
        })
        .then(response =>{ 
            return response.text()
        })
        .then(html =>{
            document.getElementsByTagName("body")[0].innerHTML = html
        })
    }

</script>
{% endblock %}


{% block content %}
<!-- navbar room name-->
<nav class="navbar navbar-dark" style="background-color: #355C7D;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/desktop.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        {{ lab_name }}
    </a>
    <a class="ml-auto mr-1" style="color:white">
        <img src="{% static 'images/people.png' %}" width="18" alt="username_pic">
        Logged in as : {{ request.user.first_name }} </a>
    <a href="{% url 'kmutnbtrackapp:logout' %}?lab={{ lab_hash }}">
        <button class="btn btn-danger my-2 my-sm-0">
            Logout
        </button>
    </a>
</nav>

<!-- check out before due -->
<div class="container">
    <div class="card w-70 mx-auto" style="text-align: center;">

        <div class="card-body">
            
            <h5 class="card-title">
              <img src="{% static 'images/desktop.png' %}"  width="30" alt="lab_pic">
               {{ lab_name }}
            </h5>

            <p class="card-text">
                <img src="{% static 'images/people.png' %}"  width="30" alt="lab_pic">
                จำนวนคนในแลปขณะนี้ : {{ current_people }} คน
            </p>

            <form id="TimeForm">

                {% csrf_token %}
                <input name="next" id="lab_hash" value="{{lab_hash}}" hidden>
                <label for="check_out_time">เลือกเวลา check out :</label> 
            
                <div class="dropdown">
                    
                    <select class="btn btn-light btn-sm dropdown-toggle btn-timeselect " aria-haspopup="true" aria-expanded="false" aria-labelledby="dropdownMenu2" id="time" onchange='selectTime();'>
                        {% if time_option == 1 %}
                            <option selected="selected" value="12:00">12:00</option>
                            <option value="16:00">16:00</option>
                            <option value="20:00">20:00</option>
                            <option value="others">กำหนดเอง</option>
                        {% elif time_option == 2 %}
                            <option selected="selected" value="16:00">16:00</option>
                            <option value="20:00">20:00</option>
                            <option value="others">กำหนดเอง</option>
                        {% elif time_option == 3 %}
                            <option selected="selected" value="20:00">20:00</option>
                            <option value="others">กำหนดเอง</option>
                        {% elif time_option == 4 %}
                            <option selected="selected" value="others">กำหนดเอง</option>
                        {% endif %}
                    </select>
                    
                </div>
                
                <br>
                
                <div class="container-fluid col-12 col-sm-4">
                    <div class="form-group">
                      <input type="time" class="form-control" name="check_out_time" id="time_value" value="12:00" onchange="CheckTime({{time_now_hour}}, {{time_now_minute}}) " style='display:none;'/>
                    </div>
                </div>

            
                <p id="status"></p>
                <div>
                    <button type="button" class="btn btn-success" id="checkin_button" >Check in</button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}

