<!DOCTYPE html>
<html lang="en">
<body>
    <center>
        {% if already_checkin %}
            <h1>คุณได้ check in ไปแล้ว</h1>
            <h1>ห้อง {{ room_name }}</h1>
            <h1>เวลา check in : {{ check_in }}</h1>
        {% elif room_name %}
                <h2>ห้อง : {{ room_name }}</h2>
                <h4>จำนวนคน :</h4> <h4 style="color: aquamarine;">{{ room_amount }}</h4>
            <form method="post" action="{% url 'kmutnbtrackapp:check_in' room_name  %}" >
            {% csrf_token %}
                <label for="check_out_time">เลือกเวลา check out :</label>
                <select name="check_out_time" id="cars">
                <option value="12:00:00">12:00</option>
                <option value="16:00:00">16:00</option>
                <option value="20:00:00">20:00</option>
                </select>
                <button name="room" type="submit" value="{{ room_name }}">Check in</button>
            </form>
        {% elif error_message %}
            <h2>{{ error_message }}</h2>
        {% elif already_checkin %}
            <h1>คุณได้ check in ไปแล้ว</h1>
        {% endif %}
    </center>
</body>
</html>