/* Init html, body */
html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #1261A0;
}
p {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

/* Check out Successful */
.square-Check-out {
    padding: 0%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #1261A0;
    color: white;
    border: 2px solid #1261A0;
    text-align:center;
    font-weight:400;
    height: calc(100% - 50%);
    width: calc(100%);
    font-size: calc(25px + (75 - 25) * ((100vw - 375px) / (1600 - 375)));
    display: grid;
    justify-content: center;
    align-content: center;
}
#icon-logout {
    max-width: calc(100% - 55%);
    height: auto;
    display: block;
    margin-left: calc(100% - 72%);
    margin-right: calc(100% - 72%);
    margin-bottom: calc(20px);;
}