body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    background-color: #1261A0;
}

/* WRAP TOP */
#wrap-top {
    background: #E8F3FC;
}

#wrap-top .logo-container .row > .col-auto {
    padding-right: 0;
}

#wrap-top .btn {
    margin: 0 auto;
    font-size: 1.4rem;
    width: 30%;
}

#wrap-top .btn-container .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WRAP CONTENT */
#wrap-content {
    background: #1261A0;
}

/* BUTTON */
.btn {
    background: #ccc;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .name {
    margin-top: 4px;
    text-align: center;
    width: 85%;
}

.btn.blue {
    background-color: #1261A0;
}

.btn:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
}

/* ARROW */
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
} 

/* FONT */
.name {
    font-family: 'Kanit',sans-serif;
}

/* responsive */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #wrap-top .btn {
        width: 70%;
        height: initial;
        font-size: 18px;
    }

    #wrap-top .btn .name {
        width: 100%;
        vertical-align: baseline;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #wrap-top .btn {
        width: 60%;
        height: initial;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #wrap-top .btn {
        width: 50%;
        height: initial;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}