
/* init html,navbar,content */
.navbar-brand {
    cursor: default;
    font-family: 'Kanit',sans-serif;
    color: #ffffff;
}
.dropdown-toggle {
    border: none;
    color: #ffffff;
}
.dropdown-toggle:after {
    color: #ffffff;
}
#checkin_img, #checkout_img {
    width: 30px;
}
.container {
    text-align: center;
    font-family: 'Kanit',sans-serif;
    margin-top: 2% ;
}
h4 {
    font-size: 50px;
}
.room-name {
    font-size: 30px;
}
.showtime {
    font-size: 20px;
}
.alert-primary {
    background-color: #1261A0;
    border-color: #1261A0;
    color: #ffffff;
    font-weight: lighter;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h4 {
        font-size: 40px;
    }
    .room-name {
        font-size: 2rem;
    }
    .showtime {
        font-size: 24px;
    }
    .time-checkin, .time-checkout {
        font-size: 20px;
    }
    #checkin_img, #checkout_img {
        width: 20px;
    }
    .navbar-brand {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 35px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 35px;
    }
    h4 {
        font-size: 3rem;
    }
    .room-name {
        font-size: 2rem;
    }
    .showtime {
        font-size: 1rem;
    }
    .time-checkin, .time-checkout {
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 35px;
    }
    h4 {
        font-size: 3rem;
    }
    .room-name {
        font-size: 2rem;
    }
    .showtime {
        font-size: 2rem;
    }
    .time-checkin, .time-checkout {
        font-size: 30px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1366.98px) {
    .navbar-brand {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 35px;
    }
    h4 {
        font-size: 4rem;
    }
    .room-name {
        font-size: 3rem;
    }
    .showtime {
        font-size: 2rem;
    }
    .time-checkin, .time-checkout {
        font-size: 30px;
    }
    .room-name img {
        width: 50px;
    }
    .btn-logout {
        font-size: 30px;
    }
}