/* init html,navbar,content */
.container {
    padding-top:4.2rem;
    padding-bottom:4.2rem;
    font-family: 'Kanit',sans-serif;
}
h1 {
    font-family: 'Kanit',sans-serif;
    color: #1261A0;
}
.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 1024px;
    border-color: #1261A0;

}
.tx-tfm{
    text-transform:uppercase;
}
.mybtn{
    border-radius:50px;
}
    
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.google {
    color:#ffffff;
    width:100%;
    text-align:center;
    outline:none;
    border: 1px solid #ffffff;
    background-color: #1261A0;
}
form .error {
    color: #ff0000;
}
.form-control{
    margin-bottom: 10px;
}
nav {
    color: #fff;
    font-family: 'Kanit',sans-serif;
}
#signup {
    cursor: pointer;
}
#google_img {
    width: 25px;
}
label {
    color: #1261A0;
}
input {
    border-color: #1261A0;
}

/* Extra small devices, Small devices and Medium devices */
@media (max-width: 991.98px) {
    .navbar-brand {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1366.98px) {
    .navbar-brand {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 35px;
    }
    .btn-login, .google, .input-phonenumber {
        font-size: 20px;
    }


}
.mb-3, .my-3{
    margin-bottom: 0px;
}
.container{
        padding-top: 1rem;
    }