{% extends 'admin/base_site.html' %}

{% load static %}
{% block title %}KMUTNB labtrack Admin site{% endblock %}
{% block branding %}
    <div class="head">
        <h1 id="name">Labtrack Admin Dashboard</h1>
    </div>
{% endblock %}

{% block head %}
<!-- Show Database has been backed up successfully! if click on backup button-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}





