<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
     {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Navigation-Clean.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
     {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <upnav>
        <div class="logo"}><h4>Labtrack</h4></div>
        <ul class="upnav-link">
            <li><a  href="{% url 'admin:index' %}">Labtrack Admin Dashboard</a> </li>
            <li><a href="{% url 'risk_people_search' %}">Risk People Search</a> </li>
            <li><a href="{% url 'history_search' %}">History Search</a> </li>
            <li><a href="{% url 'dashboard' %}">Statistic Dashboard</a> </li>
            <li><a href="{% url 'backup' %}">Backup Database</a> </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </upnav>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawLineChart);
      google.charts.setOnLoadCallback(drawhistrogramChart);

      function drawhistrogramChart() {
          var key = document.getElementById("select_graph").value;
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Time of Day');
          data.addColumn('number', 'Number of user');
          var histrogram_data_list = [];
          for (var i = 0; i < {{histrogram_dump|safe}}[key].length; i++) {
                histrogram_data_list.push([new Date({{histrogram_dump|safe}}[key][i][0]), {{histrogram_dump|safe}}[key][i][1]]);
              }
              data.addRows(histrogram_data_list);
              var options = {
                  title: 'Number of users'+" "+String(key)+" "+'in each day',
                  fontSize: 18,
                  width: 1300,
                  height: 500,
                  hAxis: {format: 'M/d/yy', gridlines: {count: 15}},
                  vAxis: { gridlines: {color: 'none'}, minValue: 0
              }
                };
              var chart = new google.visualization.LineChart(document.getElementById('histrogram'));
              chart.draw(data,options);

      }
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{pie_data|safe}});

        var options = {
          fontSize: 20,
          bold: true,
          title: 'Proportion of users per lab'
        };

        var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

        chart.draw(data, options);
      }

      function drawLineChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Time of Day');
        data.addColumn('number', 'Number of user');

        var liner_data_list = [];
        for (var i = 0; i < {{liner_data}}.length; i++
      ) {
            liner_data_list.push([new Date({{liner_data}}[i][0]), {{liner_data}}[i][1]]);
        }
        data.addRows(liner_data_list);

        var options = {
          title: 'Number of users each day',
          fontSize: 18,
          width: 1300,
          height: 500,
          hAxis: {
            format: 'M/d/yy',
            gridlines: {count: 15}
          },
          vAxis: {
            gridlines: {color: 'none'},
            minValue: 0
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);

        var button = document.getElementById('change');

        button.onclick = function () {

          // If the format option matches, change it to the new option,
          // if not, reset it to the original format.
          options.hAxis.format === 'M/d/yy' ?
          options.hAxis.format = 'MMM dd, yyyy' :
          options.hAxis.format = 'M/d/yy';

          chart.draw(data, options);
        };
      }
    </script>
    <title>Statistic Dashboard</title>
</head>
<body>
    <h1 style="color: #569ec1;font-family: Adamina, serif;margin: 10px;" align="center">Dashboard</h1>

    <div id="chart_div" style="width: 60%;"></div>
    <div id="pie_chart" style="width: 900px; height: 500px;"></div>
<center>
    <select id="select_graph" onchange="drawhistrogramChart()">
        {% for key,value in histrogram_data.items %}
           <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
    </select>
</center>
    <div id="histrogram" style="width: 60%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>


</html>