{% extends 'Page/page_base.html' %}
{% load static %}

{% block title%}Reset Password{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/log_in.css'%}">
{% endblock %}

{% block content %}
<!-- navbar LabTrack -->
<nav class="navbar navbar-dark" style="background-color: #355C7D;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="40" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
        Labtrack
    </a>
</nav>
  {% if validlink %}
    <div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>เปลี่ยนรหัสผ่าน</h1>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">รหัสผ่านใหม่</label>
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="รหัสผ่านใหม่">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">ระบุรหัสผ่านใหม่อีกครั้ง</label>
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="ระบุรหัสผ่านใหม่อีกครั้ง"></p>
                    </div>
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    <input type="hidden" name="lab_hash" value="{{ request.GET.next }}">
                    <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm">เปลี่ยนรหัสผ่าน</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
  {% else %}
    <p>
      <div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>เปลี่ยนรหัสผ่าน</h1>
                    </div>
                </div>
                    <div class="form-group">
                        <p class="text-center">ลิ้งค์ไม่ถูกต้อง อาจเป็นไปได้ว่ามีการใช้ลิ้งค์นี้ในการเปลี่ยนรหัสผ่านแล้ว หากนี่เป็นความผิดพลาด กรุณากดลืมรหัสผ่านอีกครั้ง</p>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
    </p>
  {% endif %}
{% endblock %}