{% extends 'Page/page_base.html' %}

{% block content %}
  {% if validlink %}
    <h3>เปลี่ยน Password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <input type="hidden" name="lab_hash" value="{{ request.GET.next }}">
      <button type="submit">เปลี่ยน Password</button>
    </form>
  {% else %}
    <p>
      ลิ้งค์ไม่ถูกต้อง อาจเป็นไปได้ว่ามีการใช้ลิ้งค์นี้ในการ reset password แล้ว หากต้องการ reset password กรุณาส่งคำขออีกครั้ง
    </p>
  {% endif %}
{% endblock %}