{% extends 'Page/page_base.html' %}
{% load static %}

{% block title%}Reset password | Labtrack{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/log_in.css'%}">
{% endblock %}

{% block content %}
<!-- navbar LabTrack -->
<nav class="navbar navbar-dark" style="background-color: #355C7D;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="40" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
        {{ lab_name }}
    </a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>เปลี่ยนรหัสผ่าน</h1>
                    </div>
                </div>
                    <div class="form-group">
                        <p class="text-center">ระบบ ได้ทำการเปลี่ยนรหัสผ่านของคุณแล้ว</p>
                        <p class="text-center">โปรด</a> <a href="{% url 'kmutnbtrackapp:lab_home' lab_hash=lab_hash_receive %}">คลิกที่นี่</a> <a>เพื่อดำเนินการ check in ที่ {{ lab_name }} ต่อไป ด้วยรหัสผ่านใหม่</p>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}