{% extends 'Page/page_base.html' %}
{% load static %}

{% block title%}Reset password | Labtrack{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/log_in.css'%}">
{% endblock %}

{% block content %}
<!-- navbar LabTrack -->
<nav class="navbar navbar-dark" style="background-color: #355C7D;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="40" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
        Labtrack
    </a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>ลืมรหัสผ่าน</h1>
                    </div>
                </div>
                    <div class="form-group">
                        <p class="text-center">ระบบ ได้ทำการส่งอีเมลสำหรับการเปลี่ยนรหัสผ่านไปให้ท่านแล้ว หากอีเมลที่ท่านระบุ ตรงกับบัญชีที่มีในระบบ ระบบ จะทำการส่งอีเมลไปให้ท่าน</p>
                        <p class="text-center">หากท่านไม่ได้รับอีเมลโปรดตรวจสอบโฟลเดอรอีเมลขยะ (spam) หากยังไม่พบ ท่านอาจจะกรอกอีเมลผิดพลาด หรืออีเมลที่ท่านกรอก ไม่มีในระบบ โปรดลองอีกครั้ง</p>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}